.custom-calendar {
    border: solid 2px #58585800;
    transition: all 0.3s;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-calendar-fixed {
    width: 100%;
    height: 21.5rem;
    font-size: 15px;
}

.custom-calendar-fixed .p-datepicker {
    padding: 0;
}

.time-button .selected {
    background-color: #4CAF50;
    color: white;
}

.time-button:disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    border-color: #dcdcdc;
    cursor: not-allowed;
}

.custom-calendar-fixed .p-datepicker table td>span {
    width: 1.3rem;
    height: 1.3rem;
    font-size: 14.5px;
    font-weight: 600;
}


.custom-calendar:focus {
    border-color: #007bff;
    box-shadow: 0 0 1px rgba(0, 123, 255, 0.5);
}

.custom-calendar:hover {
    border-color: #007bff;
    cursor: pointer;
}

.custom-calendar .p-inputtext {
    text-align: center;
    padding: 0.2rem;
    font-size: 14px;
    font-weight: bold;
}


.p-datepicker table td>span {
    width: 2rem;
    height: 2rem;
    font-size: 14px;
}

.custom-toolbar span {
    margin: 0;
    padding: 0;
}

.p-datepicker table th {
    font-size: 14px;
    text-align: center;
}

.p-datepicker .p-datepicker-header {
    font-size: 15px;
}

.mb-2 {
    display: none;
}

label {
    display: none;
}