.main-visibilidade {
    height: 80vh;
    width: 100%;
    background-color: rgb(245, 247, 244);
    display: flex;
    justify-content: center;
}

.main-visibilidade .container-visibilidade {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-visibilidade .container-visibilidade .textos {
    /* border: 1px solid; */
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
}

.main-visibilidade .container-visibilidade .textos .tituloVisibilidade h1 b {
    color: rgb(0, 114, 255);
}

.main-visibilidade .container-visibilidade .textos .tituloVisibilidade label {
    font-size: 1.3rem;
}

.main-visibilidade .container-visibilidade .textos .paragrafo label {
    width: 47vw;
}

.main-visibilidade .container-visibilidade .textos button {
    color: white;
    background-color: rgb(0, 114, 255);
    font-size: 1.3rem;
    width: 27vw;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 0 5px rgb(5, 84, 181);
    border: none;
    cursor: pointer;
    transition: background-color 1s;
}
    
.main-visibilidade .container-visibilidade .textos button:hover {
    background-color: rgb(5, 84, 181);
}

.main-visibilidade .container-visibilidade .imagem {
    width: 23vw;
    background-image: url(/src/assets/meninoSeta.png);
    background-size: cover;
    background-position: center;
    height: 53vh;
    transform: translateX(100%); /* Fora da tela, à direita */
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out; /* Transição suave */
}

.main-visibilidade .container-visibilidade .imagem.show {
    transform: translateX(0); /* Move para o lugar original */
    opacity: 1;
}

.main-visibilidade .container-visibilidade .imagem img {
    display: none;
}

.main-visibilidade .container-visibilidade .textos .botao {
    width: 100%;
    display: flex;
    justify-content: center;
}