.headerAgendamento {
  width: 100vw;
  height: 13vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  background-color: #00000051;
}

.headerAgendamento .icones .icon {
  height: 3vh;
}

.headerAgendamento .titulos {
  width: 30vw;
  background-color: black;
  border-radius: 20px;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.headerAgendamento .titulos span {
  color: white;
  font-size: 1.6rem;
}

.headerAgendamento .titulos .opcoes {
  width: 70%;
}

.headerAgendamento .titulos .nav {
  display: flex;
  justify-content: space-between;
}

.headerAgendamento .titulos .opcoes .nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  /* Para a transição suave na cor do texto */
}

.headerAgendamento .titulos .opcoes .nav a:hover {
  color: #ccc;
  /* Cor do texto ao passar o mouse */
}

.headerAgendamento .botaoCliente a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.headerAgendamento .botaoCliente a .icon {
  height: 2vh;
  color: white;
}