/* Estilos para o modal de detalhamento */
.detalhe-agendamento {
  background-color: #1c1b26;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  max-height: auto;
  z-index: 1050;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  align-items: center;
}

.detalhe-agendamento h3 {
  margin-bottom: 3rem;
}

.botao-fechar {
  cursor: pointer;
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.detalhe-campo p {
  margin-top: .2rem;
  font-size: 13px;
}

.detalhe-campo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detalhe-campo label {
  font-weight: bold;
  color: #e0e0e0;
  margin-bottom: 5px;
  font-size: 15px;
}

.detalhe-campo input,
.detalhe-campo textarea {
  background-color: #2e2c3b;
  color: #fff;
  border: 1px solid #393847;
  padding: 6px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.detalhe-campo textarea {
  min-height: 7rem;
  max-height: 10rem;
}

.detalhe-campo input:disabled,
.detalhe-campo textarea:disabled {
  background-color: #3c3a4a;
}

.detalhe-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.detalhe-actions button {
  background-color: #f0242d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  width: 47%;
}

.detalhe-actions button:hover {
  background-color: #d11e28;
}

.detalhe-actions button.salvar {
  background-color: #f9a220;
}

.detalhe-actions button.salvar:hover {
  background-color: #e2941d;
}


.modal-content {
  position: relative;
  height: 100vh;
}

.horarios-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
}

.horario-item {
  flex-direction: column;
  display: flex;
}

.horario-item:last-child {
  margin-right: 0;
}

.toggle-button {
  background-color: #f0242d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  width: 100%;
}

[part~='toggle-button']::before {
  content: var(--lumo-icons-clock);
  color: white;
}

.inputCliente {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.inputServicoFunc {
  display: flex;
  justify-content: center;
  gap: 5rem;
}


.inputCliente .detalhe-campo {
  width: 50%;
  display: flex;
}

.inputServicoFunc .detalhe-campo {
  width: 50%;
  display: flex;
}

.swal2-container {
  z-index: 2000 !important; /* Valor maior que o modal */
}