.main-carrosel {
  background-color: #f5f5f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-cards {
  background-color: #f5f5f5;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading-cards img {
  width: 10rem;
}

.card-content .info-endereco {
  font-size: 14px;
  display: flex;
  text-align: left;
  width: 100%;
}

.card-content h5 {
  font-size: 16px;
  font-weight: 500;
}

.main-carrosel .cards-wrapper {
  display: flex;
  overflow: hidden;
  width: 80%;
  height: auto;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.main-carrosel .card-cliente {
  border-radius: 5px;
  width: 300px;
  height: 45vh;
  margin: 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-cliente img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0 0;
  border: 12px;
  border-bottom: solid 1px #ccc;
  object-fit: cover;
}

.card-img,
.card-img-bottom {
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.card-content p {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #666;
}

.rating {
  font-size: 1.1em;
  color: #ffc107;
  margin-top: 5px;
}

.carousel-button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: #333;
  cursor: pointer;
  z-index: 10;
}

.carousel-button:hover {
  color: #000;
}


@media screen and (max-width: 500px) {

  .card-content h3 {
    font-size: 1em;
  }

  .card-content h5 {
    font-size: 0.8rem;
  }

  .card-content p {
    font-size: 0.6rem;
  }

  .main-carrosel .card-cliente {
    width: 250px;
    height: 43vh;
  }
}