.dynamic-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #0072FF;
  color: inherit;
  transition: 300ms; 
}

.dynamic-button:hover {
  background-color: #004692;
}

.button-image {
  width: 25px; /* Ajuste conforme necessário */
  height: 25px; /* Ajuste conforme necessário */
  margin-right: 8px; /* Espaço entre a imagem e o texto */
}
