.form-container {
  width: 40vw;
  height: 82vh;
  padding: 20px;
  /* border-radius: 5px; */
  background-color: white;
}

h2 {
  font-size: 3.3rem;
}

.form-group {
  height: 10vh;
  display: flex;
  justify-content: center;
}


.form-group .inputLabel{
  width: 30vw;
}

.form-group .inputLabel label {
  display: block;
  font-weight: bold;
}

.form-group .inputLabel input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #EAF0F7;
  box-shadow: 0 5px rgba(0, 0, 0, 0.3);
  height: 5vh;
  padding: 12px;
}

.botao {
  display: flex;
  justify-content: center;
}

.botao .submit-button {
  width: 40%;
  padding: 10px;
  background-color: #0072FF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
  justify-content: center;
  transition: background-color 1s;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px rgb(6, 89, 212);
}

.botao .submit-button:hover {
  background-color: #0056b3;
}

.divisoria {
  /* border: 1px solid green; */
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
}

.divisoria label {
  /* border: 1px solid green; */
  font-weight: bolder;
}

.divisoria .linha-esquerda {
  width: 150px;
  border: 1px solid #000;
}

.divisoria .linha-direita {
  width: 150px;
  border: 1px solid #000;
}

.botao-google {
  display: flex;
  justify-content: center;
}

.botao-google .submit-button {
  width: 40%;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(183 180 180);  
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  justify-content: center;
  transition: background-color 1s;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 5px rgb(183 180 180);
}

.botao-google .submit-button:hover {
  background-color: #6eacee;
}

.botao-google .submit-button img {
  height: 4vh;
}