.main-servico {
    width: 100vw;
    background-color: rgb(23, 24, 33);
    display: flex;
}

.container-servico {
    width: 80%;
    display: flex;
}

.principal-servico { 
    width: 81vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}