

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
  }
  
  .category-bar {
    background-color: black;
    padding: 10px 0;
    width: 100vw; 
    overflow-x: auto; 
    white-space: nowrap; 
    box-sizing: border-box;
  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
  }
  
  .category-item {
    color: white;
    margin: 0 20px; 
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap; 
  }
  
  .category-item:hover {
    color: #007bff; 
    transition: color 0.3s ease-in-out;
  }
  