.main-agenda {
    background-color: rgb(23, 24, 33);
    width: 100vw;
}

.container-agenda {
    margin: 0;
    display: flex;
    overflow-y: hidden;
    
}

.principal-agenda {
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    width: 100%;
}