.main-agenda {
    background-color: rgb(23, 24, 33);
}

.container-agenda {
    margin: 0;
    display: flex;
    overflow-y: hidden;
}

.principal-agenda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    width: 100%;
}
