.main-tela-servicos {
    width: 82vw;
    background-color: rgb(33, 34, 45);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 2vh;
    padding: 1.9vh;
    height: 84vh;
    overflow: hidden;
}

.main-tela-servicos .container-tela-servicos {
    width: 77vw;
    display: flex;
    flex-wrap: wrap;
}

.main-tela-servicos .container-tela-servicos .titulo {
    color: white;
    width: 87vw;
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
}

.main-tela-servicos .container-tela-servicos .search-box {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 87vw;
    position: relative;
}

.main-tela-servicos .container-tela-servicos .search-box .search-icon {
    position: absolute;
    left: 15px;
    color: rgb(104, 69, 0);
    pointer-events: none;
}

.main-tela-servicos .container-tela-servicos .search-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    border: 1px solid rgb(154, 154, 182);
    border-radius: 5px;
    outline: none;
    background-color: rgb(33, 34, 45);
    color: white;
}

.container-tela-servicos .tabelaCompleta {
    overflow: auto;
    height: 69vh;
    width: 77vw;
}

.container-tela-servicos .tabelaCompleta::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

.container-tela-servicos .tabelaCompleta::-webkit-scrollbar-thumb {
    background-color: #2196F3;
    border-radius: 10px; 
}

.container-tela-servicos .tabelaCompleta::-webkit-scrollbar-track {
    background: #171821; 
}

.container-tela-servicos .tabelaCompleta .tituloTabela {
    display: flex;
    align-items: center;
    width: 76vw;
    height: 5vh;
    color: white;
    padding: 0 1.2vw;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    z-index: 3;
    background-color: rgb(33, 34, 45);
}

.container-tela-servicos .tabelaCompleta .tituloTabela label {
    text-align: center;
    width: 22vw;
}

.container-linha-tabela .tabela .linha {
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
}

.container-linha-tabela .tabela .linha label:last-child {
    text-align: center;
    gap: 0.5vw;
    display: flex;
    justify-content: center;
}

.container-linha-tabela .tabelaCompleta .tituloTabela label {
    text-align: center;
    width: 22vw;
    border: 1px solid;
}

.container-tela-servicos .tabelaCompleta .conjuntoLinhas {
    min-height: 58vh;
    overflow: auto;
    top: 6vh;
    position: relative;
}

.paginacao {
    display: flex;
    justify-content: center;
    position: relative;
    top: 3vh;
    width: 76vw;
}

.css-16mmgyz-MuiButtonBase-root-MuiPaginationItem-root {
    color: white !important;
}

.css-16mmgyz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: rgba(58, 46, 234, 0.571) !important;
}

.css-16mmgyz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
    background-color: rgba(22, 13, 147, 0.571) !important;
}

.css-16mmgyz-MuiButtonBase-root-MuiPaginationItem-root:hover {
    background-color: rgba(22, 13, 147, 0.571) !important;
}