.main-clientes {
    width: 100vw;
    background-color: rgb(23, 24, 33);
    display: flex;
}

.container-clientes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.titulo {
    color: white;
    width: 82vw;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    background-color: rgb(33, 34, 45);
    border-radius: 5px;
}

.titulo .container-titulo {
    width: 77vw;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-clientes .container-clientes .principal {
    width: 82vw;
    height: 96vh;
    gap: 2vh;
}
