.headerEmpresa {
    width: 100vw;
    height: 13vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* border: 1px solid; */
    transition: background-color 0.3s ease-in-out; /* Para a transição suave */
}

.headerEmpresa .icones {
    display: flex;
    justify-content: space-between;
    width: 5vw;
    color: white;
}

.headerEmpresa .icones .icon {
    height: 3vh;
}

.headerEmpresa .titulos {
    width: 60vw;
    background-color: black;
    border-radius: 20px;
    height: 6vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.headerEmpresa .titulos span {
    color: white;
    font-size: 1.6rem;
}

.headerEmpresa .titulos .opcoes {
    width: 70%;
}

.headerEmpresa .titulos .nav {
    display: flex;
    justify-content: space-between;
}

.headerEmpresa .titulos .opcoes .nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out; /* Para a transição suave na cor do texto */
}

.headerEmpresa .titulos .opcoes .nav a:hover {
    color: #ccc; /* Cor do texto ao passar o mouse */
}

.headerEmpresa .botaoCliente a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.headerEmpresa .botaoCliente a .icon {
    height: 2vh;
    color: white;
}

.headerScroll {
    background-color: #00000051;
    transition: background-color 0.3s ease-in-out;
}
