.headerEmpresa {
    width: 100vw;
    height: 13vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.headerEmpresa a {
    text-decoration: none;
    color: white;
}

.headerEmpresa .icones {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.headerEmpresa .icones a {
    display: flex;
}

.headerEmpresa .icones .icon {
    height: 3vh;
}

.headerEmpresa .titulos {
    width: 60vw;
    background-color: black;
    border-radius: 20px;
    height: 6vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.headerEmpresa .titulos span {
    color: white;
    font-size: 2rem;
}

.headerEmpresa .titulos .opcoes {
    width: 70%;
}

.headerEmpresa .titulos .nav {
    display: flex;
    justify-content: space-between;
}

.headerEmpresa .titulos .opcoes .nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.headerEmpresa .titulos .opcoes .nav a:hover {
    color: #ccc;
}

.headerEmpresa .botaoCliente a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 12px;
}

.headerEmpresa .botaoCliente a .icon {
    height: 2vh;
    color: white;
}

.headerScroll {
    background-color: #00000051;
    transition: background-color 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {

    .headerEmpresa .icones {
        display: none;
    }

    .headerEmpresa {
        justify-content: center;
    }

    .headerEmpresa .titulos {
        width: 100%;
    }

    .headerEmpresa .icones {
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .headerEmpresa .titulos span {
        font-size: 1.2rem;
    }

    .headerEmpresa .botaoCliente {
       position: absolute;
       top: 1;
       right: -40px;
    }
}