.container-linha-tabela .modal-overlay-editar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 4;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay-editar.visible {
    opacity: 1;
    visibility: visible;
}

.modal-header-editar {
    background: rgb(33, 34, 45);
    border-radius: 10px;
    height: 100vh;
    width: 30vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar {
    height: 97vh;
    width: 26vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    transition: transform 0.3s ease;
}

.modal-overlay-editar.visible .container-modal-editar {
    transform: translateX(0);
}

.modal-overlay-editar.hidden .container-modal-editar {
    transform: translateX(100%);
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .botao {
    background-color: #ff5f5f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar {
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 27vw;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .form-group-editar {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .form-group-text {
    height: 19vh;
    display: flex;
    justify-content: center;
    width: 27vw;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .form-group-editar .inputLabel-editar {
    width: 26vw;
    height: 10vh;
}

.form-group-text .inputLabel {
    width: 26vw;
    height: 19vh;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .form-group-editar .inputLabel-editar label {
    display: block;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.form-group-text .inputLabel label {
    display: block;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .form-group-editar .inputLabel-editar .input {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 5vh;
    padding: 8px;
    color: white;
    flex-wrap: wrap;
    gap: 3vh;
    background-color: #171821;    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .form-group-editar .inputLabel-editar select {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    height: 5vh;
    padding: 8px;
    background-color: rgb(65, 65, 65);
    color: white;
    flex-wrap: wrap;
    gap: 3vh;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .botaoCadastrar {
    background-color: rgb(33, 150, 243);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 6vh;
    width: 14vw;
    box-shadow: 0 5px rgb(6, 89, 212);
    transition: background-color 0.5s ease;
}

.container-linha-tabela .modal-overlay-editar .modal-header-editar .container-modal-editar .form-modal-editar .botaoCadastrar:hover {
    background-color: var(--hoverColor, #0056b3);
}

.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    padding-left: 0.5vw;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
}

.color-picker-input {
    width: 2vw;
    height: 4vh;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
}

.color-name {
    font-size: 14px; 
    color: white;
    font-family: Arial, sans-serif;
    width: 23vw;
    display: flex;
}
