
.container { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }

.intro-text {
    text-align: center;
    margin: 50px auto;
    max-width: 80%;
    padding: 0 20px;
  }
  
  .intro-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .intro-text p {
    font-size: 1.2rem;
    color: #080808;
    
  }
  
  .intro-text strong {
    color: #3C70F5;
    font-weight: bold;
  }