.calendar-container {
  display: flex;
  flex-direction: column;
  width: 99%;
}

.rbc-time-view ::-webkit-scrollbar {
  width: 16px;
}

.rbc-time-view ::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #202020; 
  border-radius: 5px;
  transition: 300ms;
}

.rbc-time-view ::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer; 
}

.agenda-principal {
  height: 82vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.botao {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttonDay {
  align-items: center;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.custom-toolbar {
  background-color: #21222D;
  padding: 0 2rem;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.custom-toolbar span {
  margin: 0 15px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  color: white;
}

.custom-toolbar span:hover {
  color: #007bff;
}

.custom-span {
  font-size: 1em;
  font-weight: normal;
  margin: 0 10px;
  cursor: pointer;
}

.custom-span.selected {
  font-size: 1.5rem;
  font-weight: bold;
}

.rbc-time-slot {
  background-color: #21222D;
  /* Fundo dos slots de tempo */
  line-height: 1.5;
  /* Aumenta o espaçamento entre os slots de tempo */
}



.rbc-time-view-resources .rbc-header {
  background-color: #21222D;
  color: white;
  border-bottom: #21222D;
  font-size: 15px;
}

.rbc-time-header-gutter .rbc-label {
  background-color: #21222D;
}

.rbc-current-time-indicator {
  background-color: #ff0000;
  height: 2.5px;
}

.rbc-time-slot {
  background-color: #21222D;
  /* Fundo dos slots de tempo */
  color: #ffffff;
  font-size: 12px;
  align-items: center;
  /* Cor do texto das horas */
}

.rbc-timeslot-group {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.592)
    /* Largura e estilo da borda */
}

.rbc-time-content>*+*>* {
  border-left: 1px solid #595959;
}

.rbc-time-content{
  border-top: 1px solid #595959;
}

.rbc-addons-dnd-row-body {
  display: none;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 0.5px solid #595959;
}

.toolbar-container {
  background-color: rgb(23, 24, 33);
  align-items: center;
  border-radius: 5px;
  margin: 3px 0 3px;
  height: 0.5rem;
}

.rbc-time-view {
  height: 5vh;
}

.buscaAgenda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbc-day-slot .rbc-event {
  background-color: #424242;
  font-size: 15px;
}

.rbc-time-gutter .rbc-time-column {
  border: none;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
    background-color: #171821 !important;
}