.banner {
  background-image: url('https://www.sp.senac.br/documents/51838645/51838647/salao-de-beleza-de-sucesso-mulher-loira+%281%29.jpg/1ed79d31-1e0e-b4a0-2511-bb1749a59b44?version=1.0&t=1673632072717'); /* Adicione a imagem de fundo */
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; 
  margin: 0; 
  padding: 0; 
  position: relative;
  
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ae; /* Escurece a imagem */
}

.banner-content {
  position: relative;
  text-align: center;
  color: white;
  width: 100%; 
  z-index: 1; 
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.search-box input {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-box button {
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #0056b3;
}


