/* Estilos da header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 14vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Logo e link */
.logo-container {
  text-align: center;
}

.logo-link {
  font-size: 40px;
  font-weight: 300;
  /* Peso mais fino da fonte Montserrat */
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* .logo-link:hover {
  color: #0056b3;
} */