.app-container {
    background: #21222D;
    width: 40vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    color: #ffffff;
}

.horario {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

input[type="time"] {
    margin: 0 4rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #d8d8d8;
    color: #000000;
}

input[type="time"]::webkit-calendar-picker-indicator {
    filter: invert(1);
}

.feriados {
    margin: 20px 0  10px 10;
}

button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #eee;
    background-color: #2196F3;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 500ms ease;
}

button:hover {
    cursor: pointer;
    background-color: #1a6db0; 
}
