.app-container {
    background: #21222D;
    width: 40vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
    color: #ffffff;
}

.horario {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

input[type="time"] {
    margin: 0 4rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #d8d8d8;
    color: #000000;
}

input[type="time"]::webkit-calendar-picker-indicator {
    filter: invert(1);
}

.feriados {
    margin: 25px;
}

