.main-agendamento {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    left: 0;
    position: absolute;
    overflow: hidden;
}

.sessao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.banner-map {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}


.dropdown-profissional {
    margin-top: 10px;
}

.dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.loading-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .banner-map {
        flex-direction: column;
        display: flex;
    }
}