.formStyle {
    background-color: '#2E3841';
    padding: '20px';
    border-radius: '8px';
    max-width: '400px';
    margin: '0 auto';
    color: 'white';
};

.fieldContainerStyle {
    margin-bottom: '15px';
};

.inputStyle {
    width: '100%';
    padding: '8px';
    border-radius: '4px';
    border: 'none';
    background-color: '#1b1e23';
    color: 'white';
    font-size: '14px';
};

.twoFieldsContainerStyle {
    display: 'flex';
    justify-content: 'space-between';
    margin-bottom: '15px';
};

.halfFieldStyle {
    width: '48%';
};

.buttonStyle {
    background-color: '#3BA9EE';
    color: 'white';
    padding: '10px';
    width: '100%';
    border: 'none';
    border-radius: '4px';
    cursor: 'pointer';
    font-size: '16px';
};