.container {
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 90vw;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
