/* Classe base para os componentes */
.container-formulario-perfil {
  background: #21222D;
  width: 40vw;
  height: auto;
  display: flex;
  padding: 1.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 2rem;
  color: #ffffff;
}


.app-container {
  width: 90%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.container-formulario-perfil .loading-icon {
  position: absolute;
  right: 150px; /* Alinha o loader ao lado direito */
  top: 30%;
  transform: translateY(-45%); /* Centraliza verticalmente */
  pointer-events: none; /* Não bloqueia interações com o input */
}


.form-group {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}


.form-group label {
  color: #eee;
  font-weight: 500;
}

.form-group input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #171821;
  color: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  outline: 1px solid 444;
}

.form-group input::placeholder {
  color: #999;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-form button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #eee;
  background-color: #6c7d8c;
  width: 70%;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 500ms ease;
}

.form-group button:hover {
  cursor: pointer;
  background-color: #1a6db0;
}

.input-mesma-linha-phone{
  display: flex;
  justify-content: space-between;
}

.input-mesma-linha-phone input {
  width: 96%;
}

.personalize-cpf input{
  width: 100%;
}