.horario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    width: 90%;
}

input[type="time"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #171821;
    color: #eee;
}

input[type="time"]::webkit-calendar-picker-indicator {
    filter: invert(1);
}

.title-horario {
    width: 2rem;
    text-align: start;
}

.container-horarios{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.time-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}