.container-formulario-galeria {
    background: #21222D;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container-formulario-galeria h1 {
    color: #ffffff;
    align-self: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.container-galeria {
    display: grid; /* Use grid para alinhar os itens */
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Responsividade */
    gap: 1rem; /* Espaçamento entre os itens */
    justify-content: center;
    overflow-y: auto; 
    flex-grow: 1;
    height: 100%;
    padding: 0.5rem;
}

.container-galeria::-webkit-scrollbar {
    width: 8px; /* Largura da barra */
}

.container-galeria::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.container-galeria::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

.container-galeria::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.gallery-item {
    width: 100%;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-upload {
    background: #1a6db0;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    align-self: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.button-upload:hover {
    background: #155c91;
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-galeria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
  }
  
  .modal-content-galeria {
    max-width: 90%;
    max-height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .modal-content-galeria img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  }
  
  .delete-button-above-modal {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #e23737; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 11; 
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px; 
    transition: transform 0.2s ease; 
  }
  
  .delete-button-above-modal:hover {
    transform: scale(1.1); 
  }
  .delete-icon {
    font-size: 20px;
  }
  